    <%- include("partials/header") -%>
    <div class="content">
        <div class="hero_area">
            <h2>About Us</h2>
        </div>

        <section class="about_section_two m-auto m-md-5">
            <div class="container text-center my-5">
                <div class="card mx-0 mx-lg-5">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/jason-leung-LD3TpnoRBks-unsplash.jpg" alt="..." class="w-100 h-100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body m-0 m-md-5 text-lg-start">
                                <h3 class="card-title mb-0">Al-Sibtain</h3>
                                <code class="text-normal">...make a difference</code>
                                <p class="card-text mt-3">
                                    AL-SIBTAIN EXPORTS is India’s leading <strong>Handicrafts Décor Exporter</strong>
                                    specialising
                                    in metal handcrafted accessories and furniture located in Moradabad, Uttar Pradesh.
                                </p>
                                <p class="card-text">AL-SIBTAIN EXPORTS has steadily expanded their product line
                                    enabling them to move in the wood & marble category products as well. We provide
                                    sophisticated, one-stop-shop solutions to meet our customers’ specific needs and
                                    helps to create a platter of offerings where they have more choice, more options to
                                    choose from. Today we have evolved to a point, where-in we are catering from
                                    exclusive designers to mass retailers, equally effectively AL-SIBTAIN EXPORTS has
                                    set the bar with its unwavering commitment to quality, performance & exceptional
                                    customer care. Through our extensive selection of services & expansive product
                                    designs, we go above and beyond to ensure our customers’ needs are not just met but
                                    exceed beyond expectations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about_section_one py-5">
            <div class="container my-sm-3 my-md-5">
                <div class="row row-cols-1 row-cols-md-3 g-4 text-center mx-0 mx-lg-5 ">
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/pexels-fauxels-3183125.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Our Mission</h5>
                                <p class="card-text">Our mission is simple: To make great home decor at a reasonable
                                    price.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/pexels-ovan-57690.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Our Aim</h5>
                                <p class="card-text">At Al-Sibtain, We work with an aim of fulfilling ever-evolving
                                    requirements
                                    of
                                    clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="img/pexels-lisa-fotios-3197392.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Our Commitment</h5>
                                <p class="card-text">We are committed towards providing innovative design, quality
                                    products,client
                                    satisfaction.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <%- include("partials/footer") -%>